version: "3.9"

services:
  sentinela:
    build: .
    container_name: sentinela_app
    environment:
      - OLLAMA_HOST=http://ollama:11434
    depends_on:
      - ollama
    ports:
      - "3333:3333"

  ollama:
    image: ollama/ollama
    container_name: ollama_server
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

volumes:
  ollama_data:
