services:
  ollama:
    image: ollama/ollama
    container_name: ollama_server
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:11434/api/tags" ]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped

  ollama-init:
    image: ollama/ollama
    depends_on:
      ollama:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c " sleep 5 && ollama pull llama3 && echo 'Modelo baixado com sucesso!' "
    volumes:
      - ollama_data:/root/.ollama

  sentinela:
    build: .
    container_name: sentinela_app
    depends_on:
      ollama:
        condition: service_healthy
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - TARGET_IP=host.docker.internal
    ports:
      - "3333:3333"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3333/health" ]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: unless-stopped

volumes:
  ollama_data:
