version: "3.9"

services:
  ollama:
    image: ollama/ollama
    container_name: ollama_server
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped

  ollama-init:
    image: ollama/ollama
    depends_on:
      - ollama
    entrypoint: >
      /bin/sh -c " sleep 5 && ollama pull llama3 && echo 'Modelo baixado com sucesso!' "
    volumes:
      - ollama_data:/root/.ollama

  sentinela:
    build: .
    container_name: sentinela_app
    depends_on:
      - ollama
    environment:
      - OLLAMA_HOST=http://ollama:11434
    ports:
      - "3333:3333"
    restart: unless-stopped

volumes:
  ollama_data:
